#page {
	margin: 36px auto;
	width: 90%;
}

.blog {
	background: #F8F5F2 url("blog-bg.png") repeat-y 63.11111111111111% 0; /* 568px / 900px */
	margin: 0 auto 53px;
	width: 93.75%; /* 900px / 960px */
}

.article {
	padding: 40px 8.48056537%; /* 48px / 566px */
}

.blog main {
	float: left;
	width: 62.8888889%; /* 566px / 900px */
}

.date {
	float: left;
	margin-left: -17.0886076%; /* 81px / 474px */
	width: 14.556962%; /* 69px / 474px */
}
/* /end Content Column */

.figure {
	float: right;
	margin bottom: 0.5em;
	margin-left: 2.53164557%; /* 12px / 474px */
	width: 48.7341772%; /* 231px / 474px */ 
}

img, 
embed,
object, 
video
 {
	max-width: 100%;
}

.blog other {
	float: right;
	width: 36.7777778%; /* 331px / 900px */
}

.recent-entries {
	margin: 0 auto;
	width: 69.7885196%; /* 231px / 331px */
}
/* /end Content Column */

.wrapper-with-intrinsic-ratio {
	position: relative;
	padding-bottom: 20%;
	height: 0;
}
.element-to-stretch {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: teal;	
}

.pageslide {
	
}

/* /end Header */

h1 {
	font-size: 1.5em; /* 24px / 16px */
	font-style: italic;
	font-weight: normal;
}

h1 a {
	font: bold 0.458333333333333em Calibri, Optima, Arial, san-serif; /* 11px / 24px */
	color: #747474;
	letter-spacing: 015em;
	text-transform: uppercase;
	text-decoration: none;
}
/* /end Fonts */

.lede {
	padding: 0.8em 5.33333333%; /* 48px / 900px */
}




