body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.5em; /* 24px / 16px = 1.5em */
    margin-left: 14.575%; /* 144px / 988px = 0.14575 */
    width: 70.85%; /* 700px / 988px = 0.7085 */
}

ul {
    font-size: 0.875em; /* 14px / 16px = 0.875em */
}

#page {
    margin: 40px auto;
    padding: 0 1em;
    max-width: 61.75em; /* 988px / 16px = 61.75em */
}

.entry h2,
.entry .content {
  float: right;
  width: 85.425%; /* 844px / 988px = 0.85425 */
	}

	.entry .info {
    float: left;
    width: 12.551%; /* 124px / 988px = 0.12551 */
	}

	.entry .main {
    float: left;
    width: 82.938%; /* 700px / 844px = 0.82938 */
	}

	.entry .meta {
	    float: right;
	    width: 14.692%; /* 124px / 844px = 0.14692 */
	}

/*a, a:visited { 
	color: #C30; 
	text-decoration: none; 
	border-bottom: 1px dotted #C30; 
}
     
a:hover { 
	color: #900; 
	border-bottom-style: solid; 
}*/

/*.wrapper-with-intrinsic-ratio {
	position: relative;
	padding-bottom: 20%;
	height: 0;
}
.element-to-stretch {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: teal;
}

/*img, 
embed, 
object, 
video {
	max-width: 100%;
}
*/
/* Media Queries */
/*@media only screen and (max-width: 959px) {
  #content { 
  	width: 748px; 
  }
}*/
    	
/* Mobile Landscape and Portrait */
/*@media only screen and (max-width: 767px) {
  #content { 
  	width: 400px; 
  }*/
/*
	  #content h1 { 
	  	font-size: 22px; 
	  	line-height: 30px; 
	  	background-color: #000; 
	  	color: #FFF; 
	  	padding: 10px; 
	  }
*/
/*	  #content ul#nav { 
	  	display: none; 
	  }
  */	    
/*  .open { 
  	display: block; 
  }
 */ 
/*  #pageslide { 
  	width: 200px; 
  }
*/
/*	  #pageslide #nav li { 
	  	padding: 10px 0; 
	  	border-bottom: 1px solid #666; 
	  }
*/
/*	  #pageslide #nav li a { 
	  	color: #FFF; 
	  	border: none; 
	  }
	*/  
/*	  #pageslide #nav li a:hover { 
	  	text-decoration: underline; 
	  }
}*/
    	
    	/* Mobile Portrait */
/*        @media only screen and (max-width: 479px) {
            #content { width: 280px; }
            #content h1 { font-size: 14px; }
        }
*/
